$colorBackground: #e9ded4;
$colorTitleDark: #313131;
$colorTextWhite: #fff;
$colorBtnDark: #1f1f1f;
$colorBtnGrey: #D6D6D6;
$colorBtnGreyWeak: #D0D0D0;
$colorBtnYellow: #fbce51;
$colorBtnBlue: #3057a2;
$colorRunRed: #f54932;