section(class="main__section hero" id="hero")
 div(class="hero__container container")
  .hero__content
   .hero__left
    .hero__logo
     a(class="hero__logo-link" href="#")
      img(class="hero__logo-img" src="images/logo.svg", alt="Лого")
    div(class="hero__desc-grup desc-grup")
     p.desc-grup__desc-top Превратите уездный город
     p.desc-grup__desc-bottom в столицу земного шара
    div(class="hero__title-grup title-grup")
     h2.title-grup__title Оплатите взнос на телеграммы для организации
     h1.title-grup__title Международного васюкинского турнира по шахматам
     h1(class="title-grup__title hidden") Оплатите взнос на телеграммы для организации Международного васюкинского турнира по шахматам
    div(class="hero__link-grup link-grup")
     a(class="link-grup__link link-left js-scroll-link" href="#info") Поддержать шахатную мысль
     a(class="link-grup__link link-right js-scroll-link" href="#stages") Подробнее о&nbsp;турнире
      span.hidden
   
    
