section(class="main__section info" id="info")
 div(class="info__container container")
  .info__content
   h2.info__title Ценная информация
   .info__top 
    p.info__desc Чтобы поддержать Международный васюкинский турнир 
    p.info__desc посетите лекцию на тему: 
     a(class="info__link" href="#") «Плодотворная дебютная идея»
    img(class="info__img-one" src="images/info/info1(1920).png" alt="Изображение 1")
   .info__bottom
    .info__img-box
     img(class="info__img" src="images/info/info2(1920).png" alt="Изображение 2")
    p(class="info__desc desc-row") и Сеанс <a class="info__link" href="#">одновременной игры в&nbsp;шахматы на 160 досках</a> гроссмейстера О. Бендера
    .info__box
     ul(class="info__items list-reset")
      li(class="info__item line-first")
       p.info__desc-left Место проведения:
       p.info__desc-right Клуб «Картонажник»
      li(class="info__item")
       p.info__desc-left Дата и время мероприятия:
       p.info__desc-right
        time(datetime="1927-07-22") 22 июня 1927 г. в 18:00
      li(class="info__item")
       p.info__desc-left Стоимость входных билетов:
       p.info__desc-right 20 коп.
      li(class="info__item")
       p.info__desc-left Плата за игру:
       p.info__desc-right 50 коп.
      li(class="info__item line-last")
       p.info__desc-left Взнос на телеграммы:
       p(class="info__desc-right desc-right")
        span(class="desc-right__span") 100 руб.
        span(class="desc-right__span") 21 руб. 16 коп.
     a(class="info__link-one" href="#") По всем вопросам обращаться в администрацию к К. Михельсону
     