.run
 marquee(behavior="scroll", direction="lrft") 
  ul(class="run__line")
   li.run__item Дело помощи утопающим — дело рук самих утопающих!
   li.run__item Шахматы двигают вперед не только культуру, но и экономику!
   li.run__item Лед тронулся, господа присяжные заседатели!
   